body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    /* - HERO -
    This code controls your "hero image." You will need to change hero.jpg to match your asset */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Homepage6.jpg");
    height: 200%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.EnviGeology > div {
    position: relative;
    color: White;
    transform: translate(10%, 2%);

}
.EnviGeology div span {
    position: relative;
    bottom: 10px;
    right: 10px;
    z-index: 1;

}

.PetroleumGeo > div {
    position: relative;

}
.PetroleumGeo div span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;


}

.Hydrogeology > div {
    position: relative;
}
.Hydrogeology div span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.Volcanology > div {
    position: relative;
}
.Volcanology div span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.Seismology > div {
    position: relative;
}
.Seismology div span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.GeoFacts > div {
    position: relative;
}
.GeoFacts div span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
